{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

    <h2 style="margin-bottom: 20px">Registration</h2>
    {{ form_start(form) }}
    {#TODO mise en forme du formulaire#}
    {{ form_end(form) }}

{% endblock %}