{% extends 'base.html.twig' %}

{% block title %}Messenger{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Firewatch Messenger</h1>
            <p class="lead">Welcome to the firewatch messenger, here you can discuss about your favorite watche!</p>
        </div>
    </div>
    <div id="messenger"></div>
    <form action="{{ path('messenger_add') }}" method="post">
        <div class="form-group">
            <label for="message">Enter your message</label>
            <textarea class="form-control" id="message" rows="3" name="message"></textarea>
        </div>
        <input type="submit" class="btn btn-outline-warning">
    </form>

{% endblock %}
{% block js %}
    <script src="{{ asset('js/messenger.js')}}"></script>
{% endblock %}