{% extends 'base.html.twig' %}

{% block title %}Update User{% endblock %}

{% block body %}

    <h2 style="margin-bottom: 20px">Update User</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}