{% extends 'base.html.twig' %}

{% block title %}Watch{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card align-middle" style="width: 30vw; margin-bottom: 20px; text-align: center">
                <img class="card-img-top" src="{{ asset('img/collection/') ~ product.img }}" alt="Card image cap" style="width: 28vw">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h3 class="card-title">{{ product.price }} &euro;</h3>
                    <h5 class="card-title text-warning">Membre {{ product.promo }} %</h5>
                </div>
            </div>
        </div>
    </div>




{% endblock %}