{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
    <h2 style="margin-bottom: 20px">Add Product</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}