{% extends 'base.html.twig' %}

{% block title %}Product Update{% endblock %}

{% block body %}
    <h2 style="margin-bottom: 20px">Update Product</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}